@model QL_TourDuLich.BUS.LoaiHinhDuLich

@{
    ViewBag.Title = "Delete";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá không?</h3>
<div>
    <h4>Loại Hình Du Lịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiHinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn cur-p btn-outline-primary" /> | <button type="button" class="btn cur-p btn-outline-dark">@Html.ActionLink("Trở về", "Index")</button>
        </div>
    }
</div>
