@model QL_TourDuLich.BUS.DiaDiem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn có muốn xoá không?</h3>
<div>
    <h4>Địa Điểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Địa Điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDiaDiem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
