@model QL_TourDuLich.BUS.DiaDiem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Địa Điểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Địa Điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDiaDiem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDiaDiem }) |
    @Html.ActionLink("Trở về", "Index")
</p>
